# Importing necessary libraries

In [1]:
import pandas as pd

# Importing the data

In [4]:
dataset = pd.read_csv(r"C:\Users\user\Desktop\KNBS\AviationData.csv\AviationData.csv", encoding='ISO-8859-1')

C:\Users\user\AppData\Local\Temp\ipykernel_19304\398720578.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(r"C:\Users\user\Desktop\KNBS\AviationData.csv\AviationData.csv", encoding='ISO-8859-1')

# Selecting columns to keep

In [5]:
columns_to_keep = ['Broad.phase.of.flight','Total.Uninjured','Total.Minor.Injuries','Total.Serious.Injuries','Total.Fatal.Injuries','Purpose.of.flight','Make','Aircraft.Category','Aircraft.damage','Injury.Severity']
dataset = dataset[columns_to_keep]
print(columns_to_keep)

['Broad.phase.of.flight', 'Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 'Purpose.of.flight', 'Make', 'Aircraft.Category', 'Aircraft.damage', 'Injury.Severity']

# Clearing null values

In [ ]:
dataset = dataset.dropna()

In [ ]:
dataset.to_csv(r"C:\Users\user\Desktop\KNBS\AviationData.csv\AviationData1.csv",index=False)

# Descriptive statistics

In [7]:
dataset.describe()

,Total.Uninjured,Total.Minor.Injuries,Total.Serious.Injuries,Total.Fatal.Injuries
count,3604.000000,3604.000000,3604.000000,3604.000000
mean,1.907325,0.274140,0.198946,0.401221
std,10.473379,1.081619,0.644875,1.100530
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000
75%,2.000000,0.000000,0.000000,0.000000
max,393.000000,33.000000,10.000000,27.000000

# Aircracft category vs Aircraft damage

In [8]:
pd.crosstab(dataset['Aircraft.Category'],dataset['Aircraft.damage'])

Aircraft.damage    Destroyed  Minor  Substantial
Aircraft.Category
Airplane                 931    111         2150
Balloon                    4      5           14
Glider                    13      1           39
Gyrocraft                  9      0            7
Helicopter               103      7          208
Ultralight                 1      0            0
Unknown                    1      0            0

# Broad.phase of flight vs Injury.Severity

In [9]:
pd.crosstab(dataset['Broad.phase.of.flight'],dataset['Injury.Severity'])

Injury.Severity,Fatal(1),Fatal(12),Fatal(2),Fatal(27),Fatal(3),Fatal(4),Fatal(5),Fatal(6),Fatal(7),Fatal(8),Incident,Non-Fatal
Broad.phase.of.flight,,,,,,,,,,,,
Approach,45,0,26,0,9,6,2,1,1,2,13,289
Climb,9,0,8,0,6,2,3,1,0,0,5,58
Cruise,66,0,66,0,35,26,1,6,2,2,16,400
Descent,14,0,5,0,4,1,0,0,0,0,4,69
Go-around,4,0,3,0,1,3,2,0,0,0,2,42
Landing,10,0,5,0,0,2,0,0,0,0,19,897
Maneuvering,92,0,48,0,16,2,2,1,0,1,5,266
Other,1,0,3,0,2,0,0,0,0,0,1,5
Standing,4,0,0,0,0,0,0,0,0,0,1,20
Takeoff,55,1,31,1,9,8,1,1,0,2,21,631
Taxi,1,0,0,0,0,0,0,0,0,0,9,118
Unknown,15,0,17,0,3,3,0,0,0,1,0,13

# Total Fatal Injuries vs Make
Trying to understand which aircraft make poses the greatest risk of fatal injuries

In [ ]:
dataset.groupby(['Make'])['Total.Fatal.Injuries'].mean()

Make
Adams                   0.000000
Aero Commander          0.411765
Aeronca                 0.448276
Aeronca Champ           0.000000
Aeronca Champion        0.000000
                          ...
Weatherly               0.000000
Wing                    2.000000
Wootton, John           1.000000
Wrb Associates, Llc.    1.000000
Yakovlev                2.000000
Name: Total.Fatal.Injuries, Length: 312, dtype: float64

#Data Visualization